services:
  maui-telegram:
    image: dvilela/maui:latest
    container_name: maui-telegram
    restart: unless-stopped
    volumes:
      - ${VOLUME_PATH:-.}:/app/data
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
    environment:
      - PYTHONUNBUFFERED=1
      - PYTHONPATH=/app
      - TELEGRAM_TOKEN=${TELEGRAM_TOKEN}
      - GEMINI_API_KEYS=${GEMINI_API_KEYS}
      - LOG_LEVEL=${LOG_LEVEL}
      - GROQ_API_KEY=${GROQ_API_KEY}
      - WHITELISTED_USERS=${WHITELISTED_USERS}
      - WEBAPP_URL=${WEBAPP_URL}
      - ADMIN_USER=${ADMIN_USER}
      - TZ=Europe/Madrid
    dns:
      - 8.8.8.8
      - 1.1.1.1

  maui-webapp:
    image: dvilela/maui:latest
    container_name: maui-webapp
    restart: unless-stopped
    command: uv run uvicorn src.webapp.app:app --host 0.0.0.0 --port 8123
    volumes:
      - ${VOLUME_PATH:-.}:/app/data
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
    ports:
      - "${PORT:-8123}:8123"
    environment:
      - PYTHONUNBUFFERED=1
      - PYTHONPATH=/app
      - WEBAPP_URL=${WEBAPP_URL}
      - LOG_LEVEL=${LOG_LEVEL}
      - GEMINI_API_KEYS=${GEMINI_API_KEYS}
      - GROQ_API_KEY=${GROQ_API_KEY}
      - TELEGRAM_TOKEN=${TELEGRAM_TOKEN}
      - TZ=Europe/Madrid
    depends_on:
      - maui-telegram
    dns:
      - 8.8.8.8
      - 1.1.1.1
